In [1]:
from notebooks.modules import pokemon_emerald_seaglass as pkm

In [2]:
pokedex_path = "../data/pokemon_emerald_seaglass_national_pokedex.csv"

In [3]:
dex = pkm.get_pokedex(pokedex_path)

In [4]:
dex

           Pokémon   Type 1   Type 2              Location
Number
1.0      Bulbasaur    Grass   Poison             Wild: 114
2.0        Ivysaur    Grass   Poison      Evolve Bulbasaur
3.0       Venusaur    Grass   Poison        Evolve Ivysaur
4.0     Charmander     Fire      NaN     Wild: Jagged Pass
5.0     Charmeleon     Fire      NaN     Evolve Charmander
...            ...      ...      ...                   ...
417.0       Kyogre    Water      NaN           Story Event
418.0      Groudon   Ground      NaN           Story Event
419.0     Rayquaza   Dragon   Flying           Story Event
420.0      Jirachi    Steel  Psychic  Event, Mossdeep City
421.0       Deoxys  Psychic      NaN   Event, Birth Island

[421 rows x 4 columns]

In [5]:
location = "101"

filtered_dex = pkm.filter_by_location(dex, location)

filtered_dex.head(20)

          Pokémon  Type 1  Type 2                         Location
Number
174.0     Sentret  Normal     NaN                   Wild: 101, 106
176.0    Hoothoot  Normal  Flying                   Wild: 101, 114
289.0   Poochyena    Dark     NaN                   Wild: 101, 102
291.0   Zigzagoon  Normal     NaN              Wild: 101, 103, 118
293.0     Wurmple     Bug     NaN  Wild: 101, 102, Petalburg Woods